* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1;
    border: none;
    outline: none;
    border-radius: 0;
    background: none;
}
:root {
    --dark: #192e63;
    --shadow: #192e63aa;
    --light: #7683ab;
    --white: #ffffff;
}
body {
    /* font-family: "allotrope-variable", sans-serif;
    font-variation-settings: "wght" 400, "wdth" 100; */
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100dvh;
    color: var(--dark);
    overflow-y: hidden;
}

/* BACKGROUND */

main::after, main::before {
    content: "";
}
main::after, main::before, #graph-background {
    position: fixed;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
main::after {
    width: 150vmax;
    height: 150vmax;
    transition: rotate 1s;
    background-image: conic-gradient(from 60deg, #dcb7cd 0deg, #f7e9a3 120deg, #a0c5d8 240deg, #dcb7cd 360deg);
    z-index: -10;
}
main::before {
    width: 100%;
    height: 100dvh;
    background-image: radial-gradient(#ffffffff 0%, #ffffff00 70%);
    z-index: -9;
}
main.rotate-sect::after {
    rotate: 180deg;
}
#graph-background {
    width: 0;
    height: 100dvh;
    background-image: linear-gradient(90deg, #ffffff00 0%, 15%, #ffffffff 50%, 85%, #ffffff00 100%);
    z-index: -8;
    opacity: 0;
    pointer-events: none;
    transition: width 1s, opacity 1s;
}
main.graph-sect #graph-background {
    width: 100vw;
    opacity: 1;
}


/* SCROLLING */

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
section {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* TEXT */

h1 {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: italic;
    width: min(60rem, 90vw);
    font-size: 4rem;
    color: var(--dark);
    text-align: center;
    text-wrap: pretty;
}
h2 {
    font-size: 2rem;
    line-height: 1.2;
    text-wrap: pretty;
}
#intro h2 {
    text-align: center;
    text-wrap: balance;
}
blockquote {
    display: flex;
    flex-direction: column;
}
blockquote p {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1.2;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: var(--dark);
    text-wrap: pretty;
}
.quote-mark {
    display: block;
    width: 2rem;
    height: 2rem;
}
.quote-left {
    rotate: 180deg;
}
.quote-right {
    align-self: end;
}
a {
    color: var(--light);
    margin-top: 0.5rem;
    display: block;
}
blockquote a {
    text-align: center;
}
#intro h2, #outro h2 {
    max-width: 50rem;
}


/* SECTION GRIDS */

section {
    padding: 2rem;
    position: relative;
}
.content {
    display: grid;
    grid-template-columns: 1fr 0.1rem 1.5fr 0.1rem 1fr;
    grid-template-rows: 1fr 0.1rem 3fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.content::before, .content::after {
    content: "";
    position: absolute;
    width: calc(100% - 4rem);
    margin-inline: 2rem;
    height: 0.05rem;
    background: var(--dark);
}
.content::after {
    bottom: 0.1rem;
}
.content::before {
    top: 0.1rem;
}
.content-layout-1 {
    grid-template-areas: "title title title rule1 .    "
                         "rule2 rule2 rule2 rule2 rule2"
                         "quote rule3 graph graph graph";
}
.content-layout-2 {
    grid-template-areas: ".     rule1 title title title"
                         "rule2 rule2 rule2 rule2 rule2"
                         "graph graph graph rule3 quote";
}
.content h2 {
    grid-area: title;
}
.content blockquote {
    grid-area: quote;
}
.content .graph {
    grid-area: graph;
    width: 100%;
    height: 100%;
    background: #ffffff66;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.rule {
    background: var(--dark);
}
.rule-h {
    width: 100%;
    height: 0.1rem;
}
.rule-v {
    width: 0.1rem;
    height: 100%;
}
.rule-1 {
    grid-area: rule1;
}
.rule-2 {
    grid-area: rule2;
}
.rule-3 {
    grid-area: rule3;
}

/* GRAPHS */

h3 {
    font-weight: 700;
    text-align: center;
    grid-area: ttl;
    font-size: 1.25rem;
    flex: 0;
}
figure {
    width: 100%;
    display: grid;
    grid-template-areas: "sat sal gph key"
                         ".   .   bal .  "
                         ".   .   bat .  ";
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: 1fr auto auto;
    text-align: center;
    flex: 1;
}
.chart {
    grid-area: gph;
    display: block;
    width: 100%;
    height: 100%;
}
.side-axis-title {
    grid-area: sat;
    position: relative;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    height: 1rem;
}
.side-axis-labels {
    grid-area: sal;
}
.bottom-axis-title {
    grid-area: bat;
}
.bottom-axis-labels {
    display: flex;
    grid-area: bal;
}
.axis-title {
    font-weight: 700;
}
.axis-title, .axis-labels, .key {
    font-size: 0.875rem;
}
.side-axis-labels, .side-axis-title {
    margin-right: 0.5rem;
}
.bottom-axis-title {
    margin-top: 0.5rem;
}
.key {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0.5rem;
    grid-area: key;
    justify-content: center;
}
.key-title {
    justify-content: center;
}
.key-color {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.0625rem;
    border-radius: 10%;
}
.key > div {
    display: flex;
    gap: 0.25rem;
}
figcaption {
    width: 100%;
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}
figcaption p {
    display: block;
    max-width: 35rem;
    line-height: 1.2;
}