* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1;
    border: none;
    outline: none;
    border-radius: 0;
    background: none;
}
:root {
    --dark: #192e63;
    --shadow: #192e63aa;
    --dark-none: #192e6300;
    --light: #7683ab;
    --white: #ffffff;
}
body {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100dvh;
    color: var(--dark);
    overflow-y: hidden;
}


/* BACKGROUND */

main::after, main::before {
    content: "";
}
main::after, main::before, #graph-background {
    position: fixed;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
main::after {
    width: 150vmax;
    height: 150vmax;
    transition: rotate 1s;
    background-image: conic-gradient(from 60deg, #dcb7cd 0deg, #f7e9a3 120deg, #a0c5d8 240deg, #dcb7cd 360deg);
    z-index: -10;
}
main::before {
    width: 100%;
    height: 100dvh;
    background-image: radial-gradient(#ffffffff 0%, #ffffff00 70%);
    z-index: -9;
}
main.rotate-sect::after {
    rotate: 180deg;
}


/* SCROLLING */

main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
    position: relative;
}
section {
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.snap {
    width: 100%;
    height: 100dvh;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.sticky-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 2rem;
    position: sticky;
    top: 0;
    height: 100dvh;
}
section.content-1h {
    height: 100dvh;
}
section.content-2h {
    height: 200dvh;
}
section.content-4h {
    height: 400dvh;
}


/* TEXT */

h1 {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4rem;
    color: var(--dark);
    text-align: center;
    text-wrap: pretty;
}
h2 {
    font-size: 2rem;
    line-height: 1.2;
    text-wrap: pretty;
    max-width: 55rem;
}
a {
    color: var(--light);
    display: block;
    text-align: center;
}
blockquote a {
    margin-top: 0.5rem;
}
figcaption a {
    margin-top: 0.75rem;
}
em {
    border-bottom: solid 0.1rem var(--dark);
    background: linear-gradient(90deg, #ffffff40 0%, 10%, #ffffffff 50%, 90%, #ffffff40 100%);
}


/* INTRO CONTENT */

#intro-content {
    gap: 4rem;
}
.term {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    text-wrap: pretty;
    color: var(--dark);
    animation: term-underline 1.5s linear;
    animation-play-state: paused;
    animation-fill-mode: both;
}
.definitions {
    max-width: 55rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}
.definition {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-wrap: pretty;
    font-size: 1.25rem;
    line-height: 1.375;
    grid-area: 1 / 1 / 2 / 2;
    animation: fade 1.5s linear;
    animation-play-state: paused;
    animation-fill-mode: both;
}
#def-1, #term-1 {
    animation-delay: calc(1.25s - var(--scroll)*1s);
}
#def-2, #term-2 {
    animation-delay: calc(2.25s - var(--scroll)*1s);
}
#def-3, #term-3 {
    animation-delay: calc(3.25s - var(--scroll)*1s);
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes term-underline {
    0% {
        border-bottom: solid 0 var(--dark);
    }
    50% {
        border-bottom: solid 0.15rem var(--dark);
    }
    100% {
        border-bottom: solid 0 var(--dark);
    }
}


/* MAIN CONTENT */

.sticky-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    pointer-events: none;
}
.graph-quote {
    width: 100%;
    max-height: calc(70dvh - 8rem);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
blockquote, .graph {
    justify-self: center;
    grid-area: 1 / 1 / 2 / 2;
    animation: fade 1.5s linear;
    animation-play-state: paused;
    animation-fill-mode: both;
}
.content-rule {
    width: 100%;
    max-width: 55rem;
    height: 0.1rem;
    background-color: var(--dark);
}


/* QUOTES */

blockquote {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    justify-content: center;
}
blockquote p {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1.375;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    color: var(--dark);
    text-wrap: pretty;
}
.quote-mark {
    display: block;
    width: 2rem;
    height: 2rem;
}
.quote-left {
    rotate: 180deg;
}
.quote-right {
    align-self: end;
}


/* GRAPHS */

.graph {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 55rem;
    padding: 1.5rem;
    background: linear-gradient(90deg, #ffffff00 0%, 10%, #ffffffa0 50%, 90%, #ffffff00 100%);
}
h3 {
    font-weight: 700;
    text-align: center;
    grid-area: ttl;
    font-size: 1.25rem;
    flex: 0;
}
figure {
    width: 100%;
    display: grid;
    grid-template-areas: "sat sal gph key"
                         ".   .   bal .  "
                         ".   .   bat .  ";
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: 1fr auto auto;
    text-align: center;
    flex: 1;
}
.chart {
    grid-area: gph;
    display: block;
    width: 100%;
    height: 100%;
}
.side-axis-title {
    grid-area: sat;
    position: relative;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    height: 1rem;
}
.side-axis-labels {
    grid-area: sal;
}
.bottom-axis-title {
    grid-area: bat;
}
.bottom-axis-labels {
    display: flex;
    grid-area: bal;
}
.bottom-axis-labels div {
    container: bottom-label / inline-size;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-axis-labels div span {
    font-size: min(18cqw, 0.875rem);
}
.axis-title {
    font-weight: 700;
}
.axis-title, .axis-labels, .key {
    font-size: 0.875rem;
}
.side-axis-labels, .side-axis-title {
    margin-right: 0.5rem;
}
.bottom-axis-title {
    margin-top: 0.5rem;
}
.key {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0.5rem;
    grid-area: key;
    justify-content: center;
}
.key-title {
    justify-content: center;
}
.key-color {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.0625rem;
    border-radius: 10%;
}
.key > div {
    display: flex;
    gap: 0.25rem;
}
figcaption {
    width: 100%;
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0;
}
figcaption p {
    display: block;
    max-width: 35rem;
    line-height: 1.2;
}


/* FOOTER */

#outro > .sticky-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    padding-inline: 0;
}
#outro h2 {
    padding-inline: 2rem;
    justify-self: center;
    align-self: center;
    text-wrap: pretty;
}
footer {
    padding: 4rem 2rem 2rem 2rem;
    background: linear-gradient(#ffffff00 0%, 40%, #ffffffc0 100%);
}
#footer-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.75rem;
    position: relative;
}
#footer-label::before, #footer-label::after {
    content: "";
    display: block;
    width: 2rem;
    height: 0.075rem;
    background-color: var(--dark);
    top: 50%;
    position: relative;
}
#footer-label::before {
    left: -0.5rem;
}
#footer-label::after {
    right: -0.5rem;
}
#footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}